.cvContainer{
  padding: 80px;
}

.header{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.name{
  color:#195c70;
  margin: 0px;
  padding: 0px;
}

.contact{
  display: flex;
  flex-direction: column;
}

.printItem{
  margin:5px 0px;
}

.eduHeader,
.workHeader{
  color:#4587aa;
  font-size: medium;
}

.educationInfo,
.workExperiences{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.printBtn{
  display: block;
  height: 50px;
  width: 200px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  color: white;
  background: #ff495c;
}