form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 550px;
    height: 110px;
}

button{
    display: block;
    margin: 10px auto;
    height: 35px;
    width: 100px;
}

.form_item {
    margin: auto;
}