form{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    height: 220px;
    grid-gap: 10px;
    grid-column-gap: 40px;
}

input{
    width: 30em;
    height: 35px;
}

input,
textarea{
    background: #303030;
    color: #c7c7c7;
    border-color: #303030;
    border-bottom-color: rgb(48, 48, 48);
    border-bottom: 1px solid #c7c7c7;
}
.saveBtn,
.editBtn,
.delete,
.addNewBtn{
    display: block;
    height: 35px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
    border-radius: 4px;
}

.saveBtn{
    margin-top: 30px;
    background: #3f51b5;
}

.editBtn{
    margin-top: 10px;
    background: #3f51b5;
}

.delete,
.addNewBtn{
    margin-top: 10px;
}

.delete {
    background: crimson;
}

.addNewBtn{
    background: #09814a;
}
