form{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    height: 220px;
    grid-gap: 10px;
    grid-column-gap: 40px;
}

.saveBtn,
.editBtn,
.delete,
.addNewBtn{
    display: block;
    height: 35px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saveBtn{
    margin-top: 30px;
    background: #3f51b5;
}

.editBtn{
    margin-top: 10px;
    background: #3f51b5;
}

.delete,
.addNewBtn{
    margin-top: 10px;
}

.delete {
    background: crimson;
}

.addNewBtn{
    background: #09814a;
}

@media screen and (max-width: 600px){
    form{
        grid-template-columns: repeat(1,auto);
        height: auto;
        grid-gap: 0px;
    }
    .saveBtn{
        margin-top: 10px;
    }
}