.generalInfo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.generalInfo{
    width: 860px;
}

@media screen and (max-width: 600px){
    .generalInfo{
        width: auto;
    }
}